<!DOCTYPE html>
<html lang="en" ng-app="Life">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Game of Life</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>

  <body ng-controller="LifeCtrl as $ctrl">
    <h1>Conway's Game of Life</h1>
    <div><span class="generations">Generations: {{$ctrl.test}}</span>

      <table>
        <tr ng-repeat="row in $ctrl.board track by $index" ng-init="rowIndex = $index">
          <td ng-repeat="cell in row track by $index" ng-init="col = $index" ng-class="{alive:cell, dead:!cell}" ng-click="$ctrl.handleClick(rowIndex,col)"></td>
        </tr>
      </table>
    </div>

    <div class="buttons"><button ng-click="$ctrl.nextStep()">next step</button>
      <button ng-click="$ctrl.autoRun()">Run simulation</button>
      <button ng-click="$ctrl.pause()">Pause</button>
      <button ng-click="$ctrl.reset()">reset</button>
      <!--<button ng-click="$ctrl.downloadBoard()">SaveBoard</button>-->
      <select ng-model="$ctrl.selectedPattern">
      <option value="">-- Select a Pattern --</option>
      <option ng-repeat="pattern in $ctrl.patterns" value={{pattern.value}} ng-click="$ctrl.patternSelected(pattern)">{{pattern.displayName}}</option>
    </select>
      <button ng-click="$ctrl.patternSelected()">Load pattern</button></div>

  </body>

</html>
